# Database section:
# Format: postgresql://user:password@host:port/database                                                                    
DATABASE_URL=                                                              
   
# Auth
# Note: Random string used to sign session cookies                                                           
BETTER_AUTH_SECRET=
# Format: http://localhost:3000
BETTER_AUTH_URL=                                 
   
# OAuth                                                                                            
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=               
GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET=                                                              
                                                            
# Services                                                                                         
UPLOADTHING_TOKEN=
RESEND_API_KEY=                                                                                       
                                                            
# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=
